.gallery {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 1px 1px;

    &__img {
        width: 100%;
        height: 100%;

        transition: all 0.5s ease;
        &:hover {
            opacity: 0.5;
        }
        &:hover .gallery__text{
            display: block;
        }
    }
    &__text {
        position: absolute;
        top: 44%;
        left: 28%;
        z-index: 100;
        color: #fff;
        display: none;
    }
    
}
.wrap {
    background-color: red;
    position: relative;
    z-index: 1;
    &:hover .gallery__text{
        display: block;
    }
}
